<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Componentsaaaaa</a></p>
  </div>
</ion-content> -->

<!-- <ion-icon name="calendar-outline"></ion-icon> -->
<!-- <ion-icon name="paper-plane"></ion-icon> -->
<ion-footer>
  <ul>
    <li><ion-icon name="calendar-outline"></ion-icon></li>
    <li><ion-input type="text" placeholder="新しい項目"></ion-input></li>
    <li><ion-icon name="paper-plane"></ion-icon></li>
  </ul>
</ion-footer>