ion-footer {
    color: white;
    background-color: white;
}

li {
    list-style: none;
}

// ion-icon[name="calendar-outline"] {
//     color: white;
//     float: left;
//     font-size: 30px;
//     width: 10%;
// }

ion-input {
    width:80%;
    float: left;
}

ion-footer {
    position: fixed;
    bottom: 0%;
}

ion-header {
    position: fixed;
    top: 0;
}

// .start {
//     position: absolute;
//     top: 10%;
//     width: 100%;
// }



// ion-icon[name="paper-plane"] {
//     color: blue;
//     font-size: 30px;
//     width: 10%;
//     float: left;
// }


