ion-footer {
    color: black;
    background-color: white;
}

li {
    list-style: none;
}

ion-icon[name="calendar-outline"] {
    float: left;
    font-size: 30px;
    display: inline-block;
    width: 10%;
}

ion-input {
    width:80%;
    float: right;
}

ion-icon[name="paper-plane"] {
    font-size: 30px;
    width: 10%;
    float:right;
}


