ion-footer {
    color: white;
    background-color: white;
}

li {
    list-style: none;
}

ion-icon[name="calendar-outline"] {
    color: white;
    float: left;
    font-size: 30px;
    width: 10%;
}

ion-input {
    width:80%;
    float: left;
}

ion-icon[name="paper-plane"] {
    color: blue;
    font-size: 30px;
    width: 10%;
    float: left;
}


